
<form action="flutter_change_password_login" method="POST">
{% csrf_token %}
Log in
<div class="wrap-input100 validate-input" data-validate="Enter Your Email">
<input class=input100 name=username placeholder=Enter required>
<span class=focus-input100 data-placeholder=&#xf106;></span>
</div>
<div class="wrap-input100 validate-input" data-validate="Enter password">
<input class=input100 type=password name=password placeholder=Password minlength=8 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
<span class=focus-input100 data-placeholder=&#xf191;></span>
</div>
<div class=contact100-form-checkbox>
<input type="checkbox" name="remember" />
Remember me
</div>
</label>
{% for messages in messages %}
<p style=color:#59f605;text-align:center>{{messages}} </p>
{% endfor %}
<div class=container-login100-form-btn>
<button class=login100-form-btn>
Login
</button>
</div>
<div class="text-center p-t-90" style=margin-top:-95px>
<a class=txt1 href=#>
Forgot Password?
</a><br/>
<h9>Have not any account?</h9><br/>
<a class=txt1 href=/usersignup>
SignUp
</a>
</div>
</form>
</div>
</div>
</div>
